protobuf
transformers==4.27.1
cpm_kernels
torch>=1.10
torch=2.2.1+cu121
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
gradio
mdtex2html
sentencepiece
accelerate
